{% extends "index.html" %}
{% block title %}ECS信息列表{% endblock %}
{% block content %}

<link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
<link rel="stylesheet" href="/static/css/bootstrap-table.css">
<link rel="stylesheet" href="/static/css/bootstrap-editable.css">

<script type="text/javascript" src="/static/js/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-table.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-table-editable.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-editable.js"></script>



<div class="row">
<div class="col-md-10 col-sm-10 panel panel-default">
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>

<div class="panel-heading">
<h5><strong>AliYunECS信息列表</strong></h5>
</div>


<div class="panel-heading">
 <div class="row">
  <div class="col-md-12">
    <div id='aliecs_update'><button id="ecs_up" type="button" data-loading-text="Loading..."  autocomplete="off" class="btn btn-default" >update</button></div>
    <table id="ecs_table"></table>
  </div>
 </div>
</div>

<div class="panel-body"></div>

 </div>
</div>


<script>
$(function () {
    $('#ecs_table').bootstrapTable({
        //idField:'group_id',
        url: '/cmdb/aliyunecs/',
        //method: 'post',
        columns:[
                //{field:'group_id',title:'Group_id'},
                {field:'hostname',title:'Hostname'},
                {field:'ecs_ip',title:'Ips'},
                {field:'memory',title:'Memony',sortable:true},
                {field:'cpu',title:'Cpu',sortable:true},
                //{field:'disk',title:'Info',editable:{type:'text'}},
                {field:'disk',title:'Disks',sortable:true},
                {field:'os',title:'Os'},
                {field:'expiredtime',title:'ExpiredTime',sortable:true},
                {field:'status',title:'Status',sortable:true},
                ],
        sidePagination:'server',
        search: true,
        toolbar:'#aliecs_update',
        //showToggle:true,
        cache: true,
        showColumns: true,
        pagination: true,
        sortable: true,
        //sortName:"cpu",
        //sortOrder:"desc",
        //sortStable:true,
        rowStyle: function (row, index) {
		//var classes = ['success', 'info', 'warning'];
                var classes = ['success'];
		//if (index % 2 === 0 && index / 2 < classes.length) {
		if (index % 2 === 0) {
			return {
				classes: classes[ 0 ]
			 };
		}
		return {};
	},
        showRefresh: true,
        pageSize:"20",
        pageList:"[20, 50, 100]",
        height:"700",
        onEditableSave: function (field, row, oldValue, $el){
            $.ajax({
                type: "post",
                url: "/cmdb/aliyunecs/",
                dataType: "text",
                data: { strJson: JSON.stringify(row) },
                success: function (msg) {
                    if ( msg == "success" ){
                        alert("success");
                    }
                 },
                 error: function (e){
                     alert(e);
                 },
                });
        }
    });
});

$(function (){
    $('#ecs_up').on('click',function(){
    var $btn = $(this).button('loading');
    $.ajax({
        url:"/cmdb/dbinfo/",
        type:"POST",
        data:{sql:"te"},
        dataType:"text",
        success:function(msg){
                $btn.button('reset')
            if (msg !='success'){
                alert(msg);
                };
            }
        });
    });
});

</script>


{% endblock %}
